<<<<<<< HEAD
<div  class="col-md-10 ">
    {{ render(controller('BrainStrategistProjectBundle:Ticket:list', { 'slug': project.slug })) }}
=======
<div  class="col-md-10 ">
    {{ render(controller('BrainStrategistProjectBundle:Ticket:list', { 'slug': project.slug })) }}
>>>>>>> 001f67bbc45d26abf82c92127ab54b3791b990ea
</div>