<div  class="col-md-10 ">
    {{ render(controller('BrainStrategistProjectBundle:Ticket:list', { 'slug': project.slug,'page' :  app.request.query.get('page') ,'limit' :  app.request.query.get('limit')})) }}
</div>