@import "variables_colors";
body{
  	a,.pagination a{
	  color:color('primary');
	}
	.full-page-layout{
	  margin-bottom: 100px;
	  display: table;
	  width: 100%;
	}
	.btn-primary,.pagination>.active>span{
	  background:color('primary');
	  border-color: color('secondary');
	  &:hover,&:active{
		background:light_color('primary');
		border: 1px solid light_color('secondary');
	  }
	}
	.btn-secondary{
	  border: 1px solid color('secondary');
	}
	.navbar-inverse{
		background:color('primary');
	  	border-bottom: #91bef1;
	  .connexion_box{
		float: right;
		width: 80%;
	  }
	  .navbar-brand{
		background: url(/assets/images/brain-logo-small.png) no-repeat left center;
		background-size: 25px auto;
		padding-left: 30px;
	  }
	  .navbar-right{
		color: #fff;
		.avatar_top{
		  height: 18px;
		  width: auto;
		}
	  }
	  .navbar-brand{
		color: #fff;
	  }
	  .project-switcher{
		font-size: 12px;
		height: 30px;
		vertical-align: top;
		margin-top: 10px;
	  }
	  ul.navbar-nav{
		li{
		  a{
			color: #fff;
		  }
		  ul{
			li{
			  a{
				color: hard_dark_color('link');
			  }
			}
		  }
		  &:hover{
			ul{
			  display: block;
			}
		  }
		}
	  }
	}
  #carousel-home{
	margin-top: 50px;
	height: 700px;
	overflow: hidden;
	.carousel-caption {
	  top: 15%;
	  bottom: auto;
	  z-index: 5000;
	}
	.overlay {
	  background: rgba(0,0,0,0.6);
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  z-index: 10;
	  pointer-events: none;
	}
  }
  .template {
	padding: 0px 15px;
	margin-top: 70px;
  }
  .dark-head-thead{
	background:color('primary');
	color: #fff;
	.sorted{
	  a:before{
		position: relative;
		top: 1px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: 400;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-right: 10px;
	  }
	  a.asc:before{
		content: "\e113";
	  }
	  a.desc:before{
		content: "\e114";;
	  }
	}
	a{
	  color: #fff;
	}
  }
  .footer.navbar-fixed-bottom{
	height: 60px;
	padding-top: 20px;
	background-color: #f5f5f5;
  }
  .brainstrategist_logo{
	opacity: 0.1;
	position: absolute;
	top: -400px;
	left: 200px;
  }
  .cover-picture-form{
	margin-bottom: 10px;
  }
  .user_tiny_block{
	b{
	  display: block;
	  text-align: center;
	}
  }
  .picture-cover{
	width: 70px;
	height: 70px;
	border-radius: 70px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	overflow: hidden;
	&.bg-grey{
	  background: #bdbdbd;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: 40%;
	}
  }
  .resolving_policy{
	li{
	  background-color: #ececec;
	  border-radius: 4px;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	}
  }

  &.project_access{

	h1{
	  margin:0;
	  font-size: 22px;
	}
	table{
	  tr{
		td{
		  .picture-cover{
			width: 60px;
			height: 60px;
			border-radius: 60px;
			-webkit-border-radius: 60px;
			-moz-border-radius: 60px;

			img{
			  width: auto;
			  height: 60px;
			}
		  }
		}
	  }
	}

	.left-bar{
	  h5{
		text-align: center;
	  }
	  .users_projects{
		list-style-type: none;
		li{
		  display: inline-block;
		  max-width: 100px;
		  b{
			display: block;
			width: 100%;
			text-align: center;
		  }
		}
	  }

	}
  }
  .comments_feed{
	.row{
	  margin-bottom: 15px;
	  .even dd{
		background: #d2d2d2;
		&.pull-left:after{
		  border-left: 10px solid  #d2d2d2;

		}
		&.pull-right:before{
		  border-right: 10px solid  #d2d2d2;
		}
	  }

	  dd{
		background: #ececec;
		position: relative;
		border-radius: 10px;
		padding: 10px;
		width: 90%;

		&.pull-left:after{
		  display: block;
		  content: '';
		  position: absolute;
		  right: -10px;
		  bottom: 10px;
		  width: 0;
		  height: 0;
		  border-top: 10px solid transparent;
		  border-bottom: 10px solid transparent;

		  border-left: 10px solid  #ececec;
		}
		&.pull-right:before{
		  display: block;
		  content: '';
		  position: absolute;
		  left: -10px;
		  bottom: 10px;
		  width: 0;
		  height: 0;
		  border-top: 10px solid transparent;
		  border-bottom: 10px solid transparent;

		  border-right: 10px solid  #ececec;
		}
	  }
	  dt{
		background: #333;
		height: 80px;
		color: #fff;
		border-radius: 80px;
		width: 80px;
		text-align: center;
		vertical-align: middle;
		line-height: 50px;
	  }
	}
  }


  .collection-container{
	border-radius:10px;
	padding: 10px;
	background: #ececec;


	div{

	  div{
		display: inline-block;
		margin-bottom: 10px;
		label{
		  margin: 0 10px 0 0;
		  display: inline-block;
		}
		input{
		  margin: 0 10px 0 0;
		  display: inline-block;
		}
	  }
	}
  }
  /**
  	Ticket View
  */
  &.ticket_view{
	h2{
	  color:color('primary');
	}
	.header-ticket{
	  background: #f7f7f7;
	  padding: 10px;
	  border-radius: 5px;
	}
  }
  .login-box{

	h4,label{
	  color: #000;
	  text-shadow: none;
	}
	.white{
	  color:#000;
	  background-color:#fff;
	}

	.btn-facebook {
	  color: #ffffff;
	  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  background-color: #2b4b90;
	  *background-color: #133783;
	  background-image: -moz-linear-gradient(top, #3b5998, #133783);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
	  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
	  background-image: -o-linear-gradient(top, #3b5998, #133783);
	  background-image: linear-gradient(to bottom, #3b5998, #133783);
	  background-repeat: repeat-x;
	  border-color: #133783 #133783 #091b40;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
	  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	}

	.btn-facebook:hover,
	.btn-facebook:focus,
	.btn-facebook:active,
	.btn-facebook.active,
	.btn-facebook.disabled,
	.btn-facebook[disabled] {
	  color: #ffffff;
	  background-color: #133783 !important;
	  *background-color: #102e6d !important;
	}

	.btn-facebook:active,
	.btn-facebook.active {
	  background-color: #0d2456 \9 !important;
	}
  }

}

/**
   IMPORT RESPONSIVE DESIGN SCSS DIRECTIVES
*/
@import "responsive_mobile";