<div class="footer navbar-fixed-bottom">
    <div class="container">
        <p class="muted credit">BrainStrategist is a free <a href={{ path('liscence') }}> open source software </a> based upon an original idea by <a href="mailto:brunetsebastien33@gmail.com">Brunet S&eacute;bastien</a>. Credit photo <a href="Pexels.com" target="_blank"> Pexels.com</a></p>
    </div>
</div>