<div class="footer navbar-fixed-bottom">
    <div class="container">
        <p class="muted credit">Proudly proposed by <a href="http://martinbean.co.uk">BrainStrategist.fr</a> based upon an original idea by <a href="www.pwoua.com">Brunet S&eacute;bastien</a>. Credit photo Pexels.com</p>
    </div>
</div>