<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BrainStrategist - A free HelpDesk platform using Symfony{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <link rel="stylesheet" href="{{ asset('assets/css/brain_strategist_compiled.min.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{{ app.request.attributes.get('_route')}}">
    <div class="full-page-layout popup-mode">
        <div class="template">
            {% block body %}{% endblock %}
            {% block additionnalScripts %}{% endblock %}
        </div>
    </div><!-- /.container -->
    </body>
</html>
