{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
    <h1><i class="fa fa-plane" aria-hidden="true"></i> Welcome aboard</h1>
    <div class="col-md-6">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
    <div class="col-md-6">
    </div>
</div>
{% endblock fos_user_content %}
