<div id="carousel-home" class="carousel slide" data-ride="carousel" data-interval="10000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="{{ asset('assets/images/norwaydock.jpg') }}" alt="...">
            <div class="carousel-caption">
                <h1>Live less stupid than yesterday</h1>
                <p>We loose a lot of time each day on useless apps. That's a fact. Social networks don't make us more happy but feed our boredom during your path to your job.<br/>
                    At present, all the information sources available to us show dipositions horrible and terrifying things confirming our belief that without culture, man is capable of the worst.<br/>
                    The goal of Cultiv.me is just to learn you new interesting stuffs each day without any political or moral behaviour in the unique purpose to doing you a better human each day.<br/>
                    If by a better comprehension of this world, we are going to become more aware and able to make better choice, we will reach our goal on Cultiv.me :) </p>

            </div>
            <div class="overlay"></div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> <!-- Carousel -->