{% extends 'base.html.twig' %}
{% block title %}BrainStrategist - A free HelpDesk platform using Symfony{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}


    <div class="col-sm-12 blog-main">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="blog-post">
            <h2 class="blog-post-title">Discover our services and philosophy</h2>
            <p>Curently in progress.</p>
          </div>
         {% else %}
         <div class="row">
            <div class="col-md-8">
             <h2 class="blog-post-title">Welcome on your Dashboard</h2>
             <p>Please select an organization</p>
             {% if  listOrganization|length > 0 %}
                 {{ dump(listOrganization) }}
             {% else %}
                 <p>You don't have created or being a member of any Organization(s).</p>
             {% endif %}
             <a href={{ path('organize_create') }} class="btn btn-primary" >Create a Organization</a>
         </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/brain_strategist_compiled.js') }}"></script>
{% endblock %}