{% extends 'base.html.twig' %}
{% block title %}BrainStrategist - A free HelpDesk platform using Symfony{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}


    <div class="col-sm-12 blog-main">

        <div class="blog-post">
            <h2 class="blog-post-title">Discover our services and philosophy</h2>
            <p class="blog-post-meta">{{ "now"|date("m/d/Y") }}</p>
            <p>Curently in progress.</p>
          </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/brain_strategist_compiled.js') }}"></script>
{% endblock %}