{% if project.slug is defined %}
    {% set menu = knp_menu_get('BrainStrategistKernelBundle:Builder:ProjectDashboardMenu', [], {'project_slug': project.slug} ) %}
    {{ knp_menu_render(menu, {'allow_safe_labels': true}) }}
{% endif %}

