body a {
  color: #593590;
}
body .btn-primary {
  background: #593590;
  border-color: #593590;
}
body .btn-primary:hover, body .btn-primary:active {
  background: #8b65c6;
  border: 1px solid #8b65c6;
}
body .btn-secondary {
  border: 1px solid #593590;
}
body .navbar-inverse {
  background: #593590;
  border-bottom: #91bef1;
}
body .navbar-inverse .connexion_box {
  float: right;
}
body .navbar-inverse .navbar-brand {
  background: url(/assets/images/brain-logo-small.png) no-repeat left center;
  background-size: 25px auto;
  padding-left: 30px;
}
body .navbar-inverse .navbar-right {
  color: #fff;
}
body .navbar-inverse .navbar-right .avatar_top {
  height: 18px;
  width: auto;
}
body .navbar-inverse .navbar-brand {
  color: #fff;
}
body .navbar-inverse ul.navbar-nav li a {
  color: #fff;
}
body .navbar-inverse ul.navbar-nav li ul li a {
  color: #150838;
}
body .navbar-inverse ul.navbar-nav li:hover ul {
  display: block;
}
body #carousel-home {
  margin-top: 50px;
  height: 700px;
  overflow: hidden;
}
body #carousel-home .carousel-caption {
  top: 15%;
  bottom: auto;
  z-index: 5000;
}
body #carousel-home .overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}
body .template {
  padding: 0px 15px;
  margin-top: 70px;
}
body .dark-head-thead {
  background: #593590;
  color: #fff;
}
body .footer.navbar-fixed-bottom {
  height: 60px;
  padding-top: 20px;
  background-color: #f5f5f5;
}
body .brainstrategist_logo {
  opacity: 0.1;
  position: absolute;
  top: -400px;
  left: 0;
}
body .cover-picture-form {
  margin-bottom: 10px;
}
body .picture-cover {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  overflow: hidden;
}
body .picture-cover.bg-grey {
  background: #bdbdbd;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40%;
}
body.project_access h1 {
  margin: 0;
  font-size: 22px;
}
body.project_access table tr td .picture-cover {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
}
body.project_access table tr td .picture-cover img {
  width: auto;
  height: 60px;
}
body.project_access .left-bar h5 {
  text-align: center;
}
body.project_access .left-bar .users_projects {
  list-style-type: none;
}
body.project_access .left-bar .users_projects li {
  display: inline-block;
  max-width: 100px;
}
body.project_access .left-bar .users_projects li b {
  display: block;
  width: 100%;
  text-align: center;
}

/**
   IMPORT RESPONSIVE DESIGN SCSS DIRECTIVES
*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
  body ul.main-navigation li:hover ul {
    display: none;
  }
  body ul.main-navigation li:hover ul:hover ul {
    display: none;
  }
  body .footer.navbar-fixed-bottom {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=brain_strategist.css.map */
